@model Blog.Core.DTOs.Post.PostDetailDto

@{
    ViewData["Title"] = "Delete";
}

<h1>Realmente quer deletar a publicação?</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DataPublicacao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DataPublicacao)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="hidden" name="authorId" value="@Model.Autor.Id" />

        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash-alt"></i> Deletar
        </button>

        <a asp-action="Index" class="btn btn-secondary mt-1">
            <i class="fas fa-arrow-left"></i> Voltar para a Lista
        </a>
    </form>
</div>
