@model IEnumerable<Blog.Core.DTOs.Post.PostListDto>

@{
    ViewData["Title"] = "Index";
}

<h1>Listagem de publicações</h1>

<p>
    <a asp-action="Create" class="btn btn-success">
        <i class="fas fa-plus-circle"></i> Nova publicação
    </a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Autor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataPublicacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titulo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Autor.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataPublicacao)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-primary">
                            <i class="fas fa-edit"></i> Editar
                        </a>

                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-outline-info">
                            <i class="fas fa-eye"></i> Detalhes
                        </a>

                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger"
                            onclick="return confirm('Tem certeza que deseja remover este item?');">
                            <i class="fas fa-trash-alt"></i> Remover
                        </a>


                    </td>
                </tr>
            }
        }
    </tbody>
</table>
